@CHARSET "UTF-8";
@import "layout.css";
.cen{
    background-color: white;
    position: relative;
    width: 1000px;
    height:2000px ;
    margin: 40px auto;
}
.zi{
    /*background-color: #a6eee3;*/
    font-weight: bold;
    color: #b74a3d;
    width: 960px;
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
    /*border-bottom: pink;
    border-bottom-width: 5px;*/
    border-bottom:2px solid #b74a3d;
}
.grop{
    /*background-color: #a6eee3;*/
    width: 400px;
    height: 60px;
    padding-left: 40px;
    padding-top: 20px;
}
.grop input{
    border: 1px solid #fd9a9a;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
}

